<h1>Posts by: <%=@author.name%></h1>

<%@author.posts.each do |post|%>
  <li>
    <ul>
      <p>
        <%if post.title.present?%>
          <h5><a href="/posts/<%=post.slug%>"><%=post.title%></a></h5> 
        <%end%>   
      </p>
      <%if post.tags.present?%>
        <%post.tags.collect do |tag|%>
          <label>Tags: </label>
          <a href="/tags/<%=tag.slug%>"><%=tag.name%></a>
        <%end%>  
      <%end%>  
    </ul> 
  </li>
 <%end%>   
