<h1>Posts by: <%= @author.name %></h1>

<% @author.posts.each do |post| %>
  <li>
    <ul>
      <p>
        <h5><a href="/posts/<%= post.id %>"><%=post.title%></h5>  
      </p>
      <% if post.tags.present? %>
          <% post.tags.collect do |tag| %>
            <label>Tags: </label><a href="/tags/<%= tag.id %>"><%= tag.name %>
          <% end %>  
      <% end %>  
    </ul> 
  </li>
 <% end %>   
