<h1>Edit <%=@post.title%></h1>

<form action="/posts/<%=@post.slug%>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <p>
    <label>Update Post Title</label>
    <input type="text" name="post[title]" value="<%=@post.title%>"/>
  </p>

  <p>
    <label>Post Content</label>
    <TEXTAREA NAME="post[content]" value="<%=@post.content%>" rows="5"></TEXTAREA>
  </p>

  <ul>
    <%@tags.each do |tag|%>
      <li>
        <input type="checkbox" name="post[tag_ids][]" value="<%=tag.id%>" <%='checked' if @post.tags.include?(tag)%>><%=tag.name%>
      </li>
    <%end%> 
    
    </br>
    <li>Other: <input type="text" name="post[tags_to_add_by_name]"></li> 
  </ul>

  </br>
  <input type="submit" value="Update" id="submit" />
</form>
