<div class="container">
  <h1>Edit <%=@post.title%></h1>

  <form action="/posts/<%=@post.slug%>" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <p>
      <label>Update Post Title</label>
      <input type="text" name="post[title]" value="<%=@post.title%>"/>
    </p>

    <p>
      <label for="textarea">Post Content</label>
      <TEXTAREA NAME="post[content]" id="textarea" class="materialize-textarea"><%=@post.content%></TEXTAREA>
    </p>

    <ul>
      <%@tags.each do |tag|%>
        <li>
          <input type="checkbox" id="tag_<%=tag.id%>" name="post[tag_ids][]" value="<%=tag.id%>" <%='checked' if @post.tags.include?(tag)%>><label for="tag_<%=tag.id%>"><%=tag.name%></label>
        </li>
      <%end%> 
      
      </br>

      <li>Other: <input type="text" name="post[tags_to_add_by_name]"></li> 
      
    </ul>

    </br>
    <button class="btn waves-effect waves-light" type="submit">Update
        <i class="material-icons right"></i></button>
  </form>
</div>