<h1> <%= @post.title %> </h1>
<h5> Written By: <a href="/authors/<%= @post.author.id %>"><%= @post.author.name %></a></h5>
<p>
<label><%= @post.content %> </label>
</p>
<% @post.tags.collect do |tag| %>
  <label><a href="/tags/<%= tag.id %>"><%= tag.name %></a></label>
<% end %> 

<br> 
<br> 

<form action="/posts/<%= @post.id %>/edit">
  <input type="submit" value="Edit">
</form>

<br>

<form action="/posts/<%= @post.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>
